* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}

.grid {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 23vw);
    grid-gap: 2vw;
    justify-content: center;
}

.cell {
    width: 23vw;
    height: 20vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
}

.cell .edit-button {
    background-color: transparent;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    margin: auto 2vw;
    border: none;
    font-size: 5vw;
    cursor: pointer;
}

.cell .input-field {
    width: 80%;
    margin: 20px auto 5px auto;
    padding: 5px;
    font-size: 1vw;
    border: 1px solid #333;
    border-radius: 8px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background-color: #656565;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
    text-align: left;
}

.popup .grid {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(10, 5vw);
    grid-gap: 5px;
    justify-content: center;
}

.popup .grid .cell {
    background-color: transparent;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.options {
    background-color: transparent;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vw;
    border: none;
    cursor: pointer;
    font-size: 3vw;
    margin: 5px;
}

.close-button {
    font-size: 2vw;
}

footer {
    margin: 10vh 1vw;
    font-size: 1.5vw;
    text-align: left;
}

footer h2, footer h3 {
    margin-bottom: 10px;
    display: flex;
}

footer .change-log {
    display: flex;
}

footer .change-log .change-log-button {
    margin: auto 10px;
    background-color: transparent;
    background-size: cover; 
    background-repeat: no-repeat;
    background-image: url('./images/misc/report.png');
    width: 3vw;
    height: 3vw;
    border: none;
    cursor: pointer;
    background-position: center;
}

footer .settings .warning {
    margin: 10px auto;
    color: red;
}

footer .settings .settings-component {
    display: flex;
}

footer .settings .settings-component * {
    margin: auto 10px;
    padding: 5px;
}